html {
    font-family: sans-serif;
}

#title, #author, #pageCount {
    border-radius: 8px;
}

.checkDiv {
    display: flex;
    margin: 5px;
}

#submit {
    background-color: white; 
    border: solid black 2px;
    border-radius: 8px;
    font-weight: 600;
}

.header {
    height: 100px;
    border-bottom: solid black 2px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
}

.logo {
    font-size: 25px;
    font-weight: 550;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
}

.newBook {
    font-size: 18px;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 15px;
}

.libraryBody {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#card {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 275px;
    background-color: lightgray;
    border-radius: 10px;
    padding: 25px 5px 0px 5px;
    align-items: center;
    margin-top: 10px;
}

dialog {
    border-radius: 10px;
}

dialog form {
    display: flex;
    flex-direction: column;
    
    
}

#cancelButton {
    background-color: white;
    border-style: none;
    margin-top: 15px;
    margin-left: 100px;
    margin-bottom: -5px;
    font-weight: 700;
    width: 15px;
    
}

#cancelButton:hover {
    color: red;
}

#cancelButton:active {
    transform: translateY(1px);
    
}




#displayTitle, #displayAuthor, #displayPageCount {
    margin: 5px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
}

#toggleButton, #removeButton {
    margin: 5px;
    width: 100px;
    height: 60px;
    justify-content: center;
    border-style: none;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    margin-top: 10px;
    border-radius: 8px;
}